/*Tyylitiedosto Santerin kotisivuille*/

/*Taustan tyyli*/
body {
	background-color: lightblue;
}

/*h1 otsikon tyyli*/
h1 {
	color: white;
	text-align: center;
}

/*tekstin tyyli*/
p {
	color: red;
}