
body {
	background-color: #d6d6d6;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background: url(tausta.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 154px;
	color: black;
}

.linkki {
  background: grey;
  margin-top: 20px;
  transition: background-color 2s ease-out;
}

.linkki:hover {
	background-color: green;
}

/* Navigointipaneelin tyyli */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c0c0c0;
	margin-bottom: 25px;
	box-shadow: 5px 10px #2d2d2d;
	border-style: solid;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #cd12ff;
}

.row {
	color: black;
  background-color: #c0c0c0;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 6px;
}

table, th, td {
  border: 2px solid black;
	width: 80%;
	height: 25px;
	padding: 5px;
}

/* "Kuvakaruselli" missä moottoripyörästä kuvia */
.karuselli {
	height: 30%;
	width: 30%;
	padding-top: 20px;
	margin-bottom: 20px;
}

footer {
	margin-top: 25px;
	text-align: center;
  background-color: #c0c0c0;
	color: white;
	padding: 14px 16px;
	box-shadow: 5px 10px #2d2d2d;
	border-style: solid;
	border-color: black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

fieldset {
	padding-bottom: 10px;
	color: black;
}

.laheta {
	color: black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid green;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container {
	box-shadow: 5px 10px #2d2d2d;
	border-style: solid;
	border-color: black;
	color: black;
	width: 80%;
}

p {
	color: black;
}

legend {
	color: black;
	border-color: black;
}

form {
	color: black;
}

hr {
	border-color: black;
}
